In [1]:
import pandas as pd

In [2]:
# Carga de archivo "Datos Maestros VF.xlsx", en la hoja "Master Data Oficial"
nombre = 'Nombre visible Agente'
agente = 'AGENTE (OFEI)'
central = 'CENTRAL (dDEC, dSEGDES, dPRU…)'
tipo = 'Tipo de central (Hidro, Termo, Filo, Menor)'

filename = r"Datos3\Datos Maestros VF.xlsx"
sheet = r"Master Data Oficial"

columns =[nombre, agente, central, tipo]

df1 = pd.read_excel(filename, sheet_name=sheet, usecols=columns)
df1

,Nombre visible Agente,AGENTE (OFEI),"CENTRAL (dDEC, dSEGDES, dPRU…)","Tipo de central (Hidro, Termo, Filo, Menor)"
0,RIO PIEDRAS,ENERGIA RIO PIEDRAS,MAGUAFRE,M
1,ALEJANDRÍA,PCH ALEJANDRÍA,M_ALEJANDRIA,M
2,EPSA,EPSA(PACIFICO),ALBAN,H
3,EPSA,EPSA(PACIFICO),ALBAN,H
4,EPSA,EPSA(PACIFICO),ALBAN,H
...,...,...,...,...
298,VATIA,VATIA S.A.,MVENTANA_B,M
299,EMGESA,EMGESA S.A.,ZIPAEMG2,T
300,EMGESA,EMGESA S.A.,ZIPAEMG3,T
301,EMGESA,EMGESA S.A.,ZIPAEMG4,T
302,EMGESA,EMGESA S.A.,ZIPAEMG5,T

In [3]:
# Para determinar si hay valores emgesa mal escritos
df1[agente].unique()

array(['ENERGIA RIO PIEDRAS', 'PCH ALEJANDRÍA', 'EPSA(PACIFICO)', 'EEPPM',
       'ISAGEN', 'VATIA S.A.', 'CELSIA', 'EMGESA S.A.', 'ESPROD SAS ESP',
       'EMSA(META)', 'GECELCA S.A. E.S.P', 'CASCADA', 'MULCALARCA',
       'EEP(PEREIRA)', 'CEMEX ENERGY', 'HIDRALPOR SAS ESP',
       'RIOEN SAS  E.S.P.', 'AES CHIVOR', 'C.T. EL MORRO 2',
       'EMEE(POPAYAN)', 'ENERGETICA', 'PROENCA ', 'ESSA(SANTANDER)',
       'BIOGAS DOÑA JUANA', 'ENREVSA E.S.P.', 'CH EL EDEN', 'ZF CELSIA',
       'DICELER', 'ELECTROHUILA', 'CEDENAR', 'ENERCO', 'GENERPUTUMAYO',
       'IAC ENERGY', 'HZ ENERGY', 'GEDEN SAS', 'GENERADORA LUZMA',
       'RISARALDA ENERGIA', 'GENSA', 'GELEC', 'PROELECTRICA RESTRUC',
       'SURENERGY', 'CETSA(TULUA)', 'GEC S.A. E.S.P.', 'TERMOTASAJERO',
       'TERMOTASAJERO DOS', 'GENERSA', 'TERMOCANDELARIA INT',
       'TERMOEMCALI', 'TERMOPIEDRAS S.A.', 'TERMOVALLE', 'TERMOYOPAL',
       'URRA', 'GENERAMOS ENERGIA'], dtype=object)

In [4]:
# Seleccionar los registros que pertenecen al agente EMGESA ó EMGESA S.A. y adicionalmente que el Tipo de Central sea ‘H’ o ‘T’.
df1[(df1[agente] == "EMGESA S.A.") & 
   ((df1[tipo] == "H") |
    (df1[tipo] == "M"))]

,Nombre visible Agente,AGENTE (OFEI),"CENTRAL (dDEC, dSEGDES, dPRU…)","Tipo de central (Hidro, Termo, Filo, Menor)"
16,EMGESA,EMGESA S.A.,AG_REFICAR,M
32,EMGESA,EMGESA S.A.,BETANIA,H
33,EMGESA,EMGESA S.A.,BETANIA,H
34,EMGESA,EMGESA S.A.,BETANIA,H
44,EMGESA,EMGESA S.A.,MCANTAYUS,M
45,EMGESA,EMGESA S.A.,MCANTAYUS,M
57,EMGESA,EMGESA S.A.,MCHARQUITO,M
83,EMGESA,EMGESA S.A.,MLIMONAR,M
90,EMGESA,EMGESA S.A.,ELQUIMBO,H
91,EMGESA,EMGESA S.A.,ELQUIMBO,H
120,EMGESA,EMGESA S.A.,GUAVIO,H
121,EMGESA,EMGESA S.A.,GUAVIO,H
122,EMGESA,EMGESA S.A.,GUAVIO,H
123,EMGESA,EMGESA S.A.,GUAVIO,H
124,EMGESA,EMGESA S.A.,GUAVIO,H
125,EMGESA,EMGESA S.A.,MGUAVIO,M
148,EMGESA,EMGESA S.A.,PAGUA,H
149,EMGESA,EMGESA S.A.,PAGUA,H
150,EMGESA,EMGESA S.A.,PAGUA,H
151,EMGESA,EMGESA S.A.,MLAGUNETA,M
188,EMGESA,EMGESA S.A.,PAGUA,H
189,EMGESA,EMGESA S.A.,PAGUA,H
190,EMGESA,EMGESA S.A.,PAGUA,H
230,EMGESA,EMGESA S.A.,MRIONEGRO,M
261,EMGESA,EMGESA S.A.,MSANTANA,M
269,EMGESA,EMGESA S.A.,MSUBA1,M
274,EMGESA,EMGESA S.A.,MTEQUENDAMA,M
296,EMGESA,EMGESA S.A.,MUSAQUEN1,M

In [5]:
# Carga de archivo "dDEC1204.TXT"
filename = r"Datos3\dDEC1204.TXT"
columns = [central] + ["DATA_"+str(i) for i in range(1, 25)]

df2 = pd.read_csv(filename, encoding="latin1", names=columns)
df2

,"CENTRAL (dDEC, dSEGDES, dPRU…)",DATA_1,DATA_2,DATA_3,DATA_4,DATA_5,DATA_6,DATA_7,DATA_8,DATA_9,...,DATA_15,DATA_16,DATA_17,DATA_18,DATA_19,DATA_20,DATA_21,DATA_22,DATA_23,DATA_24
0,AG_ARGOSCTG,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,AG_ARGOSYUM,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,AG_ELCAIRO,0,0,0,1,3,3,3,3,3,...,3,0,0,0,0,1,3,3,3,3
3,AG_REFICAR,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
4,AG_UNIBOL,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,ZIPAEMG2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
213,ZIPAEMG3,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
214,ZIPAEMG4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
215,ZIPAEMG5,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
216,Total,6314,6044,5889,5853,6114,6489,6732,7237,7800,...,8775,8716,8560,8538,9685,9753,9463,8540,7739,7033

In [6]:
# Realizando el merge de los dos data sets por Central.
resultado = pd.merge(df1, df2, on=central, how="inner")
resultado

,Nombre visible Agente,AGENTE (OFEI),"CENTRAL (dDEC, dSEGDES, dPRU…)","Tipo de central (Hidro, Termo, Filo, Menor)",DATA_1,DATA_2,DATA_3,DATA_4,DATA_5,DATA_6,...,DATA_15,DATA_16,DATA_17,DATA_18,DATA_19,DATA_20,DATA_21,DATA_22,DATA_23,DATA_24
0,RIO PIEDRAS,ENERGIA RIO PIEDRAS,MAGUAFRE,M,7,7,7,7,7,7,...,7,7,7,7,7,7,7,7,7,7
1,ALEJANDRÍA,PCH ALEJANDRÍA,M_ALEJANDRIA,M,8,8,8,8,8,8,...,8,8,8,8,8,8,8,8,8,8
2,EPSA,EPSA(PACIFICO),ALBAN,H,223,223,223,223,223,223,...,355,355,355,355,355,355,355,355,355,223
3,EPSA,EPSA(PACIFICO),ALBAN,H,223,223,223,223,223,223,...,355,355,355,355,355,355,355,355,355,223
4,EPSA,EPSA(PACIFICO),ALBAN,H,223,223,223,223,223,223,...,355,355,355,355,355,355,355,355,355,223
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
295,VATIA,VATIA S.A.,MVENTANA_B,M,2,2,2,2,2,2,...,2,2,2,2,2,2,2,2,2,2
296,EMGESA,EMGESA S.A.,ZIPAEMG2,T,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
297,EMGESA,EMGESA S.A.,ZIPAEMG3,T,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
298,EMGESA,EMGESA S.A.,ZIPAEMG4,T,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
299,EMGESA,EMGESA S.A.,ZIPAEMG5,T,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [7]:
# Left join para encontrar filas en df1 que no están en df2
left_join = pd.merge(df1, df2, on=central, how='left', indicator=True)
not_in_df2 = left_join[left_join['_merge'] == 'left_only']
print("Centrales de 'Datos Maestros VF.xlsx' que no están en 'dDEC1204.TXT':")
print(not_in_df2.drop(columns='_merge')[central].unique())

Centrales de 'Datos Maestros VF.xlsx' que no están en 'dDEC1204.TXT':
['ENLACE' 'CPROENCA3']

In [8]:
# Right join para encontrar filas en df2 que no están en df1
right_join = pd.merge(df1, df2, on=central, how='right', indicator=True)
not_in_df1 = right_join[right_join['_merge'] == 'right_only']
print("Centrales de 'dDEC1204.TXT' que no están en 'Datos Maestros VF.xlsx':")
print(not_in_df1.drop(columns='_merge')[central].unique())

Centrales de 'dDEC1204.TXT' que no están en 'Datos Maestros VF.xlsx':
['COROZO1' 'ECUADOR11' 'ECUADOR12' 'ECUADOR13' 'ECUADOR14' 'ECUADOR21'
 'ECUADOR210' 'ECUADOR22' 'ECUADOR23' 'ECUADOR24' 'ECUADOR25' 'ECUADOR26'
 'ECUADOR27' 'ECUADOR28' 'ECUADOR29' 'MMAGALLO' 'MPROENCA2' 'MTMECHERO5'
 'VENEZUE1' 'Total']

In [9]:
# Calcular la suma horizontal de todas las horas para cada planta
resultado["TOTAL"] = resultado.filter(like="DATA_").sum(axis=1)
resultado[[central, "TOTAL"]]

    CENTRAL (dDEC, dSEGDES, dPRU…)  TOTAL
0                         MAGUAFRE    168
1                     M_ALEJANDRIA    192
2                            ALBAN   7596
3                            ALBAN   7596
4                            ALBAN   7596
..                             ...    ...
295                     MVENTANA_B     48
296                       ZIPAEMG2      0
297                       ZIPAEMG3      0
298                       ZIPAEMG4      0
299                       ZIPAEMG5      0

[300 rows x 2 columns]

In [10]:
# Seleccionar solamente los registros de las plantas cuya suma horizontal sea mayor que cero
resultado_filtrado = resultado[resultado["TOTAL"] > 0][[central, "TOTAL"]]
resultado_filtrado

    CENTRAL (dDEC, dSEGDES, dPRU…)  TOTAL
0                         MAGUAFRE    168
1                     M_ALEJANDRIA    192
2                            ALBAN   7596
3                            ALBAN   7596
4                            ALBAN   7596
..                             ...    ...
290                           URRA   5784
291                           URRA   5784
292                        M_URRAO     24
294                     MVENTANA_A     24
295                     MVENTANA_B     48

[233 rows x 2 columns]

In [11]:
resultado_filtrado.to_csv(r'segundo_ejercicio.csv', index=False)